In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from fbprophet import Prophet

from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, mean_squared_error

In [10]:
df = pd.read_csv('../Data/Load_cleaned.csv',
                 index_col= [6],
                 parse_dates= [6])

df

,Unnamed: 0,from,to,load,residual,pumped,month,weekday,hour
time,,,,,,,,,
2018-11-01 00:00:00,0,01.11.2018 00:00,01.11.2018 01:00,48879.50,34530.00,"3295,75",11,3,0
2018-11-01 01:00:00,1,01.11.2018 01:00,01.11.2018 02:00,47312.50,33605.50,"3848,00",11,3,1
2018-11-01 02:00:00,2,01.11.2018 02:00,01.11.2018 03:00,46093.75,32232.00,"4452,25",11,3,2
2018-11-01 03:00:00,3,01.11.2018 03:00,01.11.2018 04:00,46710.50,33261.75,"4855,75",11,3,3
2018-11-01 04:00:00,4,01.11.2018 04:00,01.11.2018 05:00,47624.25,33987.75,"3854,50",11,3,4
...,...,...,...,...,...,...,...,...,...
2024-10-31 19:00:00,52603,31.10.2024 19:00,31.10.2024 20:00,59605.00,40750.25,"156,50",10,3,19
2024-10-31 20:00:00,52604,31.10.2024 20:00,31.10.2024 21:00,56859.25,37263.25,"168,25",10,3,20
2024-10-31 21:00:00,52605,31.10.2024 21:00,31.10.2024 22:00,54040.50,33643.00,"417,50",10,3,21
2024-10-31 22:00:00,52606,31.10.2024 22:00,31.10.2024 23:00,51405.00,31200.00,"583,00",10,3,22
2024-10-31 23:00:00,52607,31.10.2024 23:00,01.11.2024 00:00,48110.75,27287.50,"1079,00",10,3,23